In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_1=pd.read_csv("pendigits-tes.csv")
df_2=pd.read_csv("pendigits-tra.csv")

In [5]:
df_1.head()

    88   92    2   99   16   66   94  ...    0.1   24   42   65  100  100.1   8
0   80  100   18   98   60   66  100  ...      0   23   42   61   56     98   8
1    0   94    9   57   20   19    7  ...     70   68  100  100   18     92   8
2   95   82   71  100   27   77   77  ...     93   42   56   13    0      0   9
3   68  100    6   88   47   75   87  ...    100   29   75    6    0      0   9
4   70  100  100   97   70   81   45  ...     20   33    0   16    0      0   1

[5 rows x 17 columns]

In [6]:
df_2.head()

    47  100   27   81   57   37   26  ...   56   53  100.1   90   40   98   8
0    0   89   27  100   42   75   29  ...   37    0     69    2  100    6   2
1    0   57   31   68   72   90  100  ...   50   51     28   25   16    0   1
2    0  100    7   92    5   68   19  ...  100   45     74   23   67    0   4
3    0   67   49   83  100  100   81  ...   40   40     33   20   47    0   1
4  100  100   88   99   49   74   17  ...   37    0     73   16   20   20   6

[5 rows x 17 columns]

In [7]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3497 entries, 0 to 3496
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0    88     3497 non-null   int64
 1    92     3497 non-null   int64
 2     2     3497 non-null   int64
 3    99     3497 non-null   int64
 4    16     3497 non-null   int64
 5    66     3497 non-null   int64
 6    94     3497 non-null   int64
 7    37     3497 non-null   int64
 8    70     3497 non-null   int64
 9     0     3497 non-null   int64
 10    0.1   3497 non-null   int64
 11   24     3497 non-null   int64
 12   42     3497 non-null   int64
 13   65     3497 non-null   int64
 14  100     3497 non-null   int64
 15  100.1   3497 non-null   int64
 16   8      3497 non-null   int64
dtypes: int64(17)
memory usage: 464.6 KB

In [9]:
df_1.columns

Index([' 88', ' 92', '  2', ' 99', ' 16', ' 66', ' 94', ' 37', ' 70', '  0',
       '  0.1', ' 24', ' 42', ' 65', '100', '100.1', ' 8'],
      dtype='object')

In [10]:
df_2.columns

Index([' 47', '100', ' 27', ' 81', ' 57', ' 37', ' 26', '  0', '  0.1', ' 23',
       ' 56', ' 53', '100.1', ' 90', ' 40', ' 98', ' 8'],
      dtype='object')

In [11]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3497 entries, 0 to 3496
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0    88     3497 non-null   int64
 1    92     3497 non-null   int64
 2     2     3497 non-null   int64
 3    99     3497 non-null   int64
 4    16     3497 non-null   int64
 5    66     3497 non-null   int64
 6    94     3497 non-null   int64
 7    37     3497 non-null   int64
 8    70     3497 non-null   int64
 9     0     3497 non-null   int64
 10    0.1   3497 non-null   int64
 11   24     3497 non-null   int64
 12   42     3497 non-null   int64
 13   65     3497 non-null   int64
 14  100     3497 non-null   int64
 15  100.1   3497 non-null   int64
 16   8      3497 non-null   int64
dtypes: int64(17)
memory usage: 464.6 KB

In [12]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7493 entries, 0 to 7492
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0    47     7493 non-null   int64
 1   100     7493 non-null   int64
 2    27     7493 non-null   int64
 3    81     7493 non-null   int64
 4    57     7493 non-null   int64
 5    37     7493 non-null   int64
 6    26     7493 non-null   int64
 7     0     7493 non-null   int64
 8     0.1   7493 non-null   int64
 9    23     7493 non-null   int64
 10   56     7493 non-null   int64
 11   53     7493 non-null   int64
 12  100.1   7493 non-null   int64
 13   90     7493 non-null   int64
 14   40     7493 non-null   int64
 15   98     7493 non-null   int64
 16   8      7493 non-null   int64
dtypes: int64(17)
memory usage: 995.3 KB

In [14]:
col_names = [f'input_{i}' for i in range(16)] + ['target']

df_2.columns = col_names
df_1.columns = col_names

df_2.head(), df_1.head()

(   input_0  input_1  input_2  input_3  ...  input_13  input_14  input_15  target
 0        0       89       27      100  ...         2       100         6       2
 1        0       57       31       68  ...        25        16         0       1
 2        0      100        7       92  ...        23        67         0       4
 3        0       67       49       83  ...        20        47         0       1
 4      100      100       88       99  ...        16        20        20       6

 [5 rows x 17 columns],
    input_0  input_1  input_2  input_3  ...  input_13  input_14  input_15  target
 0       80      100       18       98  ...        61        56        98       8
 1        0       94        9       57  ...       100        18        92       8
 2       95       82       71      100  ...        13         0         0       9
 3       68      100        6       88  ...         6         0         0       9
 4       70      100      100       97  ...        16         0         0       1

 [5 rows x 17 columns])

In [15]:
df_train=df_2.copy()
df_test=df_1.copy()